{% extends 'quiz/base.html' %}

{% block title %}Score{% endblock %}
{% block heading %}Add Questions{% endblock %}
{% block dashboardItem1Icon %}fa fa-file-alt{% endblock %}
{% block dashboardItem2Icon %}fa fa-eye{% endblock %}
{% block dashboardItem3Icon %}fas fa-sign-out-alt{% endblock %}

{% block dashboardItem1 %}Add Test{% endblock %}
{% block dashboardItem2 %}View Tests{% endblock %}
{% block dashboardItem3 %}Sign Out{% endblock %}

{% block dashboardItem1Link %}/teacher/addTest{% endblock %}
{% block dashboardItem2Link %}/teacher/viewTests{% endblock %}
{% block dashboardItem3Link %}/logout/{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form method="POST" class="form-group" action="/teacher/saveQuestion/">
	{% csrf_token %}
    {{ questionForm|crispy }}
    <label>Option 1<input type="text" class="form-control" name="option1" id="o1" required></label>
    <label>Option 2<input type="text" class="form-control" name="option2" id = "o2" required></label>
    <label>Option 3<input type="text" class="form-control" name="option3" id = "o3" value = " "></label>
    <label>Option 4<input type="text" class="form-control" name="option4" id="o4" value=" "></label>
    <button type="submit" class="btn btn-success" name="submit" value="submit">Add</button>
</form>
{% endblock %}