{% extends 'quiz/base.html' %}

{% block title %}Dashboard{% endblock %}
{% block heading %}{{test.id}} - {{test.subject.subName}}{% endblock %}

{% block dashboardItem1Icon %}fa fa-file-alt{% endblock %}
{% block dashboardItem2Icon %}fa fa-eye{% endblock %}
{% block dashboardItem3Icon %}fas fa-sign-out-alt{% endblock %}

{% block dashboardItem1 %}Add Test{% endblock %}
{% block dashboardItem2 %}View Tests{% endblock %}
{% block dashboardItem3 %}Sign Out{% endblock %}

{% block dashboardItem1Link %}/teacher/addTest{% endblock %}
{% block dashboardItem2Link %}/teacher/viewTests{% endblock %}
{% block dashboardItem3Link %}/logout/{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<center>
   <table class="table table-light table-striped w-50">
   {% for question in test.question_set.all %}
   <tr>
      <td>
      <div>
      <p>{{question.qNumber}} - {{question.question}}</p>
         {% for option in question.option_set.all %}
         <li>{{option.number}} - {{option.desc}}</li>
         {% endfor %}
      </div>
   </td>
   </tr>
      {% endfor %}
     
   </table>
   </center>
{% endblock %}