{% extends 'quiz/base.html' %}

{% block title %}Add Question{% endblock %}
{% block heading %}Add Questions{% endblock %}
{% block dashboardItem1Icon %}fa fa-user-graduate{% endblock %}
{% block dashboardItem2Icon %}fa fa-file-alt{% endblock %}
{% block dashboardItem3Icon %}fa fa-user{% endblock %}
{% block dashboardItem4Icon %}fa fa-eye{% endblock %}
{% block dashboardItem5Icon %}fa fa-eye{% endblock %}
{% block dashboardItem6Icon %}fa fa-eye{% endblock %}
{% block dashboardItem7Icon %}fas fa-sign-out-alt{% endblock %}

{% block dashboardItem1 %}Add Student{% endblock %}
{% block dashboardItem2 %}Add Test{% endblock %}
{% block dashboardItem3 %}Add Teacher{% endblock %}
{% block dashboardItem4 %}View Teacher{% endblock %}
{% block dashboardItem5 %}View Students{% endblock %}
{% block dashboardItem6 %}View Tests{% endblock %}
{% block dashboardItem7 %}Sign Out{% endblock %}


{% block dashboardItem1Link %}/ap/addStudent{% endblock %}
{% block dashboardItem2Link %}/ap/addTest{% endblock %}
{% block dashboardItem3Link %}/ap/addTeacher{% endblock %}
{% block dashboardItem4Link %}/ap/viewTeachers{% endblock %}
{% block dashboardItem5Link %}/ap/viewStudents{% endblock %}
{% block dashboardItem6Link %}/ap/viewTests{% endblock %}
{% block dashboardItem7Link %}/logout{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form method="POST" class="form-group" action="/ap/saveQuestion/">
	{% csrf_token %}
    {{ questionForm|crispy }}
    <label>Option 1<input type="text" class="form-control" name="option1" id="o1" required></label>
    <label>Option 2<input type="text" class="form-control" name="option2" id = "o2" required></label>
    <label>Option 3<input type="text" class="form-control" name="option3" id = "o3" value = " "></label>
    <label>Option 4<input type="text" class="form-control" name="option4" id="o4" value=" "></label>
    <button type="submit" class="btn btn-success" name="submit" value="submit">Add</button>
</form>
{% endblock %}